
.margin{width: 1200px;margin: 0 auto;}

/*选项卡*/
#table{height:400px;}
#table .cont{height:180px;border: solid 1px black;margin-left:18px;}
#table .cont ul{display: flex;height: 40px;background:#E5E5E5;}
#table .cont ul li{flex: 1;border-left: solid 1px #CCCCCC;border-right: solid 1px black;text-align: center;line-height: 40px;width:170px;}
#table .cont ul li.active{background: pink;}
#table .box1{height: 220px;}
#table .box1 p{margin: 0;height: 360px;display: none;}
#table .box1 p:nth-child(1) img{width:1180px;height:360px;}
#table .box1 p:nth-child(2) img{width:1180px;height:360px;}
#table .box1 p:nth-child(3) img{width:1180px;height:360px;}
#table .box1 p:nth-child(4) img{width:1180px;height:360px;}
#table .box1 p:nth-child(5) img{width:1180px;height:360px;}
#table .box1 p:nth-child(6) img{width:1180px;height:360px;}
#table .box1 p:nth-child(7) img{width:1180px;height:360px;}
#table .box1 p.active{display: block;}



#list1{height:250px;margin-top:30px;}
#list1 img{float: left;height:250px;width:200px;}
#list1 .li1{float: left;}
#list1 .li1 img{height:180px;width:200px;}
#list1 .li1 p{margin-left: 14px; }
#list1 .li1 span{margin:10px 0 0 14px;display: block;font:600 14px/30px "";color: red;}
#list1 .li1 p:nth-child(4){color: #999999; }

#list2{height:375px;margin-top:30px;}
#list2 img{width:300px;height: 350px;float: left;}
#list2 .st1{ }
#list2 .st1 ul{}
#list2 .st1 ul li{float: left;margin:0 5px 5px 0;}
#list2 .st1 ul li a{}
#list2 .st1 ul li a img{height:172px;width:288px; }

#floor1{height: 500px;margin-top:25px;}
#floor1 .f1{height:30px;}
#floor1 .f1 h3{font: 700 24px/30px "";}
#floor1 .f2{margin-top:5px;}
#floor1 .f2 img{height:460px;width:300px;float: left;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;}
#floor1 .f2 img:nth-child(2){height:300px;width:450px;float: left;}
#floor1 .f2 img:nth-child(3){height:300px;width:220px;float: left;border-top: 1px solid #CCC;}
#floor1 .f2 img:nth-child(4){height:300px;width:220px;float: left;border-top: 1px solid #CCC;}
#floor1 .f2 .f22{}
#floor1 .f2 .f22 ul{}
#floor1 .f2 .f22 ul li{width:222px;height:159px;float: left;border-bottom: 1px solid #CCC;border-right: 1px solid #CCC;}
#floor1 .f2 .f22 ul li a{}
#floor1 .f2 .f22 ul li a img{width:220px;height:97px;margin-top:30px ;border:none ;}


#nav-left{width:50px;height:450px;position:fixed;left:100px;top:80px;background:#E5E5E5;z-index: 999;}
#nav-left a{width:50px;height:49px;display: block;border-bottom: 1px solid #999999;text-align: center;}
#nav-left a:hover{background: red;}

#nav-left a p{display: block;text-align: center;width:30px;padding:6px 0 0 8px;}
#nav-left a p.tee{display: block;padding:14px 0 0 8px;}

#main{}
#main .main-t{height:80px;}
#main .main-t h2{text-align: center;font: 30px/2 "";font-weight: 100;margin-top: 10px;}
#main .main-c{}
#main .main-c ul{}
#main .main-c ul li{height:340px;width:220px;float: left;padding: 5px;border: 1px solid #E5E5E5;margin:6px 6px 0 0;}
#main .main-c ul li img{height:220px;width:220px;border: none;}
#main .main-c ul li p{margin:0 10px;font: 14px/2 "";color:#666666;}
#main .main-c ul li i{height:46px;margin-top:20px;display: block;}
#main .main-c ul li i span{color:red;font: 600 16px/2 "";margin-left:10px;float: left;}
#main .main-c ul li i p{margin-left:100px;display: block;width:100px;height:26px;border-radius: 10px;border:1px solid #C0C0C0;text-align: center;}
#main .main-c ul li i p span{font-size:12px;float: left;margin:2px 3px 0 7px;color:#999999;}
#main .main-c ul li i p span:active{color: red;}


























