
body{background: #CCCCCC;}
#m2{height:300px;width:500px;margin:50px auto;}
#m2 h4{font:600 18px/36px "";color: #000000;}
#m2 h4 a{font: 14px/36px "";color: #484D4A;margin-left:270px;}
#m2 input{width:400px;height:40px;margin:15px 0;}
