
.margin{width: 1200px;margin: 0 auto;}

#top{height:40px;border-bottom: 1px solid #CCCCCC;}
#top .top-l{float:left;font: 14px/40px "";color: #C6C8CA;text-align: center;}
#top .top-l p{float: left;margin-right:15px;}
#top .top-l a{float: left;margin-right:10px;}
#top .top-r{float:right;font: 14px/40px "";color: #C6C8CA;text-align: center;}
#top .top-r p{float: right;margin:0 10px;}
#top .top-r span{padding: 0 4px;color: #e5e5e5;float:right;}

#header{height:100px;}
#header .header-l{float: left;margin-top:20px;}
#header .header-l img{float: left;}
#header .header-l img:nth-child(2){margin:0 34px 0 44px;}
#header .header-l .x1{float:left;margin:25px 50px 0 30px;}
#header .header-l a{width:50px;height:20px;font:12px/20px "";color:#000;text-align: center;display:block;border-radius: 5px;background: #C0C0C0;}
#header .header-l a:first{background: red;}
#header .header-l a:active{background: red;}
#header .header-c{margin:0 auto;/*margin-top:40px;*//*margin:0px 0 0 270px;*/}
/*#header .header-c input{float: left;width:430px;height:40px;border:2px solid red;margin-left: 50px;outline: none;text-indent:16px;}*/
/*关键字搜索*/
#search{width: 600px;position: relative;z-index: 999;left:366px;top:-45px;}
#search input{width: 480px;height: 100%;border: 1px solid #b6b6b6;height: 20px;padding: 9px 7px;font: 16px arial; border: 1px solid #b8b8b8; border-bottom: 1px solid #ccc;border-right: 0;vertical-align: top; outline: none;  box-shadow: none;  -webkit-appearance: textfield;  background-color: white;  -webkit-rtl-ordering: logical; user-select: text;/* margin:-40px 0 0 360px;*/}
#search button{cursor: pointer;box-sizing: border-box;  width: 97px; height: 40px;line-height: 38px;padding: 0;border: 0;background: none; background-color: #FF0000; font-size: 16px; color: white; box-shadow: none; font-weight: normal; margin-left: -20px;/*margin:0 0 0 800px;*/}
.result{position: absolute;padding: 9px 7px;background: #ddd;}
.search-res{position: absolute;top: 100%;left: 0;width: 480px;border: 1px solid #b6b6b6;border-top: none;}
.search-res li{list-style-type: none;line-height: 20px;padding: 2px 5px;border-bottom: 1px solid #b6b6b6;}



#header .header-r{float: left;}
#header .header-r a{display: block;width:150px;height:30px;border:1px solid #C6C8CA;text-align: center;font:14px/30px "";color:#343A40;margin:-65px 0 0 1049px;}
#header .header-r a:hover{color:red;border-color: red;}

#header .header-c .x3{margin:-45px 0 0 370px;}
/*#header .header-c .x3 .tea{margin-left: 52px;}*/
#header .header-c .x3 a{font: 12px/30px ""; color: #999;}
#header .header-c .x3 span{padding: 0 4px;color: #e5e5e5;}



#shop{width:1200px;border-bottom:1px solid #999999;border-top:1px solid #999999;margin:28px auto;}
#shop .shop-1{height:46px;border-bottom:1px solid #CCCCCC;}
#shop .shop-1 h3{float: left;text-indent: 14px;margin-top:17px;line-height:28px;border-bottom: 1px solid #000;}
#shop .shop-1 a{float: right;margin:17px 20px 0 0;}

#shop .shop-2{height:46px;border-bottom:1px solid #CCCCCC;}
#shop .shop-2 input{float: left;margin:16px 8px 0 0;}
#shop .shop-2 p{text-align: center;float: left;line-height: 46px;margin-right:80px;}
#shop .shop-2 p:nth-child(4){margin-left:335px;}
#shop .shop-2 p:nth-child(5){margin:0 80px;}
#shop .shop-2 p:nth-child(6){margin:0 80px;}

#shop .shop-3{}
#shop .shop-3 ul{}
#shop .shop-3 ul li{height:100px;border-bottom:1px solid #CCCCCC;background: #DDDDDD;}
#shop .shop-3 ul li input{float: left;margin-top:10px;}
#shop .shop-3 ul li img{float: left;width:80px;height:80px;margin:10px;}
#shop .shop-3 ul li p{float: left;margin:10px 0 0 0;}
#shop .shop-3 ul li span{float: left;margin:10px 0 0 0;position: absolute;left:750px;} 
#shop .shop-3 ul li b{float: right;margin:-17px 140px 0 0;width:28px;}

#shop .shop-3 ul li .cont{width:50px;height:30px;margin-top:10px;position:relative;left:806px;top:10px;}
#shop .shop-3 ul li	.cont i{width:18px;height:26px;border:1px solid #999999;position:absolute;display: inline-block;left:1010px;text-align: center;}
#shop .shop-3 ul li .cont i:nth-child(1){left:947px;}
#shop .shop-3 ul li .cont input{width:42px;height:26px;border:1px solid #C0C0C0;position:absolute;text-align: center; background: #fff;float: none;left:2px;top:-9px;}






